### GOLANG GITIGNORE
# Binaries for programs and plugins
scripts/*.exe
scripts/*.exe~
scripts/*.dll
scripts/*.so
scripts/*.dylib

# Test binary, built with `go test -c`
scripts/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
scripts/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
scripts/go.work
scripts/go.work.sum

# env file
.env

### TERRAFORM GITIGNORE
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

## OBJECTS GITIGNORE
objects/*

## GCLOUD KEY
service-account-key.json